{%
  set attributes = create_attribute()
  .addClass('livefilter-value')
  .setAttribute('type', 'search')
  .setAttribute('autocomplete', 'off')
  .setAttribute('size', size)
  .setAttribute('placeholder', placeholder)
  .setAttribute('data-elements-selector', elements_selector)
  .setAttribute('data-text-xpath', text_xpath)
  .setAttribute('data-min-input', min_input)
  .setAttribute('data-debug', debug ? '1' : '')
%}
<input{{ attributes }}>
{{ attach_library('livefilter/livefilter') }}
